body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 20vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.labelled-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
label,
button,
p,
h1 {
  color: #29318b;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

input,
button {
  background-color: #d5e6f6;
  border: none;
  text-align: center;
  width: 20vw;
  height: 5vh;
  font-size: 1rem;
}

button {
  cursor: pointer;
  width: 15vw;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  margin-right: 0.5rem;
}

a {
  color: #9cace6;
  text-decoration: none;
}

#error {
  color: red;
}
